process {
    beforeScript = '''
        module purge
        module load chpc/BIOMODULES
        module load apptainer/1.2.3_SUID
        module load chpc/singularity
    '''

    container = "/home/apps/chpc/bio/1ksa_pipeline/1ksa_pipeline.sif"

    // Override for QUAST_final
    withName:QUAST_final {
        container = "/home/apps/chpc/bio/1ksa_pipeline/1ksa_pipeline.sif"
        beforeScript = '''
            module purge
            module load chpc/singularity
        '''
    }

    // Override for Racon to use module instead of container
    withName:POLISH1 {
        container = null
        beforeScript = '''
            module purge
            module load chpc/BIOMODULES
            module load racon/1.5.0
        '''
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--containall'
}