# File: params.config

species_name='species_name'    # Change species_name
assembler='hifiasm'            # Options: 'flye' or 'hifiasm'

# Shared parameters
threads=15
LINEAGE='eukaryota_odb10'      #Mandatory BUSCO lineage (Other options: insecta_odb10, viridiplantae_odb10)

# Flye-specific parameters (mandatory)
genome_size='0.77g'            # Mandatory genome size - adjust to the values obtained from the k-mer analysis
flye_coverage=45               # Mandatory coverage - adjust to the values obtained from the k-mer analysis
flye_read_type='nano-raw'      # Default read type (can change to nano-hq for Q15 reads)
